spring:
  datasource:
    url: jdbc:postgresql://localhost:5555/postgres
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        jdbc.lob.non_contextual_creation: true
        # Setting custom SQL dialect
        dialect: com.test.hibernate6customfunctions.dialect.BetterPGDialect
        #dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    generate-ddl: true

logging:
  level:
    # This line enables detailed logging of the Hibernate SQM queries
    org.hibernate.orm.query.sqm.ast: debug